<div class="editor-row">
  <div class="section gf-form-group">
    <div class="gf-form">
      <label class="gf-form-label width-10">Service ID</label>
      <input type="text" class="input-small gf-form-input width-10" ng-model="ctrl.annotation.serviceId" ng-change="ctrl.onFieldChange()" placeholder="AAAAAAA" ng-model-onblur />
    <info-popover mode="right-absolute">
      Optional: Filter events by Service ID
    </info-popover>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-10">Urgency</label>
      <div class="gf-form-select-wrapper max-width-10">
        <select class="input-small gf-form-input" ng-model="ctrl.annotation.urgency" ng-options="t for t in ['low',
            'high', '']" ng-change="ctrl.onSelectChange()"></select>
      </div>
    <info-popover mode="right-absolute">
      Optional: Filter events by urgency
    </info-popover>
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-10">Status</label>
      <div class="gf-form-select-wrapper max-width-10">
        <select class="input-small gf-form-input" ng-model="ctrl.annotation.status" ng-options="t for t in ['triggered',
            'acknowledged', 'resolved', '']" ng-change="ctrl.onSelectChange()"></select>
    <info-popover mode="right-absolute">
      Optional: Filter events by resolved status
    </info-popover>
      </div>
    </div>
  </div>
</div>
